
@font-face {
    font-family: 'Noto Sans Malayalam';
    src: url('../fonts/custom-fonts/noto-sans/NotoSansMalayalamUI-Bold.eot');
    src: url('../fonts/custom-fonts/noto-sans/NotoSansMalayalamUI-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/custom-fonts/noto-sans/NotoSansMalayalamUI-Bold.woff2') format('woff2'),
        url('../fonts/custom-fonts/noto-sans/NotoSansMalayalamUI-Bold.woff') format('woff'),
        url('../fonts/custom-fonts/noto-sans/NotoSansMalayalamUI-Bold.ttf') format('truetype'),
        url('../fonts/custom-fonts/noto-sans/NotoSansMalayalamUI-Bold.svg#NotoSansMalayalamUI-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Malayalam';
    src: url('../fonts/custom-fonts/noto-sans/NotoSansMalayalam.eot');
    src: url('../fonts/custom-fonts/noto-sans/NotoSansMalayalam.eot?#iefix') format('embedded-opentype'),
        url('../fonts/custom-fonts/noto-sans/NotoSansMalayalam.woff2') format('woff2'),
        url('../fonts/custom-fonts/noto-sans/NotoSansMalayalam.woff') format('woff'),
        url('../fonts/custom-fonts/noto-sans/NotoSansMalayalam.ttf') format('truetype'),
        url('../fonts/custom-fonts/noto-sans/NotoSansMalayalam.svg#NotoSansMalayalam') format('svg');
    font-weight: 400;
    font-style: normal;
}

